<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="google-client-id" content="{{ google_cid }}">
    <title>Chasidus TV - Panel</title>
</head>

<body>
    <template id="item_video">
    <div class="video-item" 
         data-id="" 
         data-differ="">
        
        <span class="v-archive-id" ></span>

        <span class="v-title" ></span>

        <span class="v-description" ></span>

        <div class="v-badges">
            <span class="badge-remote" ></span>
            <span class="badge-hidden">Hidden</span>
        </div>
    </div>
</template>

    <a>Welcome to control Panel!</a>
    <script src="/script.js"></script>
    <button onclick="(async () => { await postData('/logout', {}); window.location.href = '/admin'; })()">
        Logout
    </button>
    <div id="videos_list">
        All Videos Loading...
    </div>
    <script src="/script_panel.js"></script>
</body>

</html>